:root {
    --black: #000000;
    --light-black: #181818;
    --white: #FFFFFF;
    --gloomy-white: #c0c0c0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font: inherit;
    color: inherit;
}

body {
    background-color: var(--black);
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: var(--gloomy-white);
    font-weight: 400;
    line-height: 20px;
    overflow-x: hidden;
}

/*header section*/
.container {
    max-width: 320px;
    margin: 0 auto;
}

header {
    background-color: var(--light-black);
    width: 100%;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    position: relative;
}

.header__content svg {
    min-width: 128px;
    color: var(--white);
}

.header__nav-content {
    padding-top: 140px;
    background-color: var(--white);
    height: 100vh;
    width: 100%;
    -webkit-transform: translate(150%);
    -ms-transform: translate(150%);
    transform: translate(150%);
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    gap: 24px;
}

.header__links {
    list-style-type: none;
}

.header__links a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: var(--black);
    padding-top: 20px;
}

.header__links a:active {
    font-weight: bold;
}

.header__btn {
    width: 150px;
    background-color: var(--black);
    color: var(--white);
    letter-spacing: 0.4px;
    margin-top: 50px;
    padding: 9px 20px 13px;
    border-radius: 14px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.header__btn:active {
    cursor: pointer;
    background-color: var(--gloomy-white);
    color: var(--black);
}

label {
    position: absolute;
    display: block;
    height: 25px;
    width: 30px;
    left: 90%;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 25px;
    width: 30px;
    top: 20px;
    right: 0;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.hamburger-lines {
    height: 25px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}

.hamburger-lines .line1 {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

input[type="checkbox"]:checked ~ svg {
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    color: var(--black);
    z-index: 2;
}

input[type="checkbox"]:checked ~ .hamburger-lines .line {
    background-color: var(--gloomy-white);
}

input[type="checkbox"]:checked ~ .header__nav-content {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*head section*/

.head-section {
    width: 100%;
    margin-top: 70px;
    background: url(../images/background-s.jpg) 90% 0/cover no-repeat;
}

.head-section__text {
    padding-top: 70%;
    text-align: center;
}

.head-section__text h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.head-section h1 {
    font-size: 36px;
    color: var(--white);
    padding: 20px 0;
}

.head-section p {
    font-size: 11px;
    max-width: 90%;
    margin: 0 auto;
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 25px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    color: var(--white);
    gap: 15px;
}

.list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 5px;
}

/*featured-images section*/

.featured-images__text h2 {
    color: var(--white);
    text-align: center;
    font-size: 28px;
    line-height: 35px;
    padding: 60px 0 10px 0;
}

.featured-images__text h3 {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 20px;
}

.featured-images__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 45px;
}

.row__card {
    min-width: 200px;
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: var(--light-black);
    overflow-x: hidden;
}

.card-1 {
    background-image: url("../images/card-1s.jpg");
    background-size: cover;
}

.card-2 {
    background-image: url("../images/card-2s.jpg");
    background-size: cover;
}

.card-3 {
    background-image: url("../images/card-3s.jpg");
    background-size: cover;
}

.card-4 {
    background-image: url("../images/card-4s.jpg");
    background-size: cover;
}

.card__content {
    max-width: 90%;
    margin-left: 4%;
}

.card__content h4 {
    font-size: 13px;
    color: var(--white);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__content p {
    padding-top: 2%;
    font-size: 11px;
}

.custom-button {
    display: block;
    width: 117px;
    margin: 15px 0;
    padding: 3px 0 6px 20px;
    font-size: 12px;
    color: var(--black);
    letter-spacing: 0.4px;
    background-color: var(--white);
    text-decoration: none;
    position: relative;
    border-radius: 14px;
}

.custom-button:active {
    font-weight: bold;
}

.circle-s {
    width: 25px;
    height: 25px;
    left: 3px;
    top: 2px;
    position: absolute;
}

.circle-l {
    display: none;
}

/*photo-section*/

.sec-1 {
    background-image: url(../images/photo-section_sec-1s.jpg);
}

.sec-2 {
    background-image: url(../images/photo-section_sec-2s.jpg);
}

.sec-3 {
    background-image: url(../images/photo-section_sec-3s.jpg);
}

.photo-section {
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow-x: hidden;
}

.photo-section__text {
    padding: 40% 5% 0 0;
}

.sec-3-text {
    padding-bottom: 9%;
}

.photo-section__text h3 {
    color: var(--white);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: start;
}

.photo-section__text p {
    font-size: 14px;
    text-align: justify;
    margin-top: 5px;
    max-width: 250px;
    padding-bottom: 10%;
}

.sec-1-list {
    margin-right: 19px;
}

.sec-2-list {
    gap: 10px;
    margin-right: 9px;
}

/*gear cage section*/
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.blackbox {
    width: 100vw;
}

.blackbox__content {
    margin: 15% 10%;
}

.blackbox__content h3 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.blackbox__content h2 {
    font-size: 24px;
    color: var(--white);
    line-height: 32px;
    padding-bottom: 6px;
}

.blackbox__content p {
    font-size: 12px;
    color: var(--white);
    padding-bottom: 20px;
}

.button {
    line-height: 1.7;
}

.photo-content {
    width: 100vw;
    background-image: url(../images/gearcage-s.jpg);
    background-size: cover;
}

.photo-content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 50px 20px 25px 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 11px;
    color: var(--white);
    gap: 10px;
    margin-top: 50%;
}

/*clients section*/

.clients h2 {
    color: var(--white);
    font-size: 28px;
    padding-top: 70px;
    padding-bottom: 15px;
    text-align: center;
}

.clients h3 {
    padding-bottom: 30px;
    text-align: center;
}

.clients__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 70px;
    padding-bottom: 100px;
}

/*contacts section*/

.contacts h2 {
    padding-top: 50px;
    color: var(--white);
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}

.contacts p {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}

.contacts button {
    margin: 5% auto 10%;
}

/*footer section*/

.footer-sec-1, .footer-sec-2 {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 2px solid var(--white);
}

.footer__logo {
    margin-top: 15%;
}

.footer__logo svg {
    color: white;
    margin-bottom: 10px;
}

.footer__logo p {
    font-size: 12px;
}

.footer__business-nav, .footer__pages-nav {
    margin-top: 5%;
}

.footer__business-nav h4, .footer__pages-nav h4, .footer-sec-2 h4 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid var(--light-black);
    padding: 5px;
    text-align: end;
}

.footer__pages-nav h4 {
    width: 100%;
    text-align: start;
}

.footer-sec-2 h4 {
    text-align: center;
    padding-top: 20px;
    color: var(--white);
    padding-bottom: 10px;
    border: none;
}

.footer__nav-content {
    padding-top: 15px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 10px;
}

.pages {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 7%;
}

.footer__nav-content a {
    text-decoration: none;
    color: var(--white);
    font-size: 13px;
}

.footer-sec-2 p {
    text-align: center;
    padding-bottom: 15px;
}

.footer__btn label {
    opacity: 0;
}

input[type="email"] {
    display: inline-block;
    color: var(--light-black);
    width: 250px;
    height: 32px;
    margin: 0 20px 20px;
    padding: 0 15px;
    border-radius: 12px;
    position: relative;
}

input[type="email"]:focus {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-shadow: 0 0 5px 3px var(--gloomy-white);
    box-shadow: 0 0 5px 3px var(--gloomy-white);
}

.input-btn {
    background-color: var(--black);
    width: 50px;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 42px;
    bottom: 27px;
    border-radius: 11px;
    padding: 0 7px;
}

.footer-sec-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0 50px 5px;
}

.footer-sec-3__text {
    width: 60vw;
}

.footer-sec-3__text span {
    font-size: 11px;
}

.footer-icons {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.footer-sec-3 svg {
    width: 24px;
    height: 24px;
}


@media screen and (min-width: 576px) {

    .container {
        max-width: 586px;
        padding: 0 10px;
    }

    .head-section__text {
        padding-top: 65%;
    }

    .list {
        gap: 20px;
    }

    .contacts button {
        margin-bottom: 0;
    }

    .footer-sec-1, .footer-sec-2, .footer-sec-3 {
        padding: 0 5px;
    }

    .footer-sec-3 {
        margin: 20px 0;
    }

    .footer__business-nav h4, .footer__pages-nav h4, .footer-sec-2 h4 {
        text-align: center;
    }

    .footer__nav-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    input[type="email"] {
        width: 270px;
        margin: 0 25% 20px;
    }

    .input-btn {
        position: absolute;
        right: 28%;
        bottom: 27px;
        border-radius: 11px;
        padding: 0 7px;
    }

    .footer-icons {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        gap: 30px;
    }
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }

    .header__nav-content {
        width: 50%;
    }

    input[type="checkbox"]:checked ~ svg {
        color: var(--white);
        z-index: 2;
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line {
        display: none;
    }

    input[type="checkbox"]:checked {
        position: absolute;
        width: 50vw;
        height: 100vh;
        z-index: -2;
        right: 47%;
        top: 0;
    }

    .head-section {
        background-image: url("../images/background-m.jpg");
        background-position: 87% 0;
    }

    .head-section__text {
        padding-top: 50%;
    }

    .head-section h1 {
        font-size: 38px;
        padding: 25px;
    }

    .head-section p {
        font-size: 14px;
        max-width: 80%;
    }

    .featured-images__cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 16px;
    }

    .row__card {
        -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    }

    .photo-section .sec-1 {
        background-image: url(../images/photo-section_sec-1L.jpg);
    }

    .photo-section .sec-2 {
        background-image: url(../images/photo-section_sec-2L.jpg);
    }

    .photo-section .sec-3 {
        background-image: url(../images/photo-section_sec-3L.jpg);
    }

    .photo-section__text {
        padding-top: 25%;
    }

    .photo-section__text p {
        max-width: 270px;
    }

    .sec-1-list {
        max-width: 270px;
        margin-right: 8%;
    }

    .sec-2-list {
        max-width: 307px;
        margin-right: 2%;
    }

    .list {
        font-size: 12px;
    }

    .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .blackbox {
        width: 50vw;
    }

    .photo-content {
        width: 50vw;
    }

    .photo-content__list {
        margin-top: 70%;
    }

    .clients__images {
        gap: 50px 100px;
    }

    .footer-sec-1, .footer-sec-2, .footer-sec-3 {
        padding: 0 25px;
    }

    .footer-sec-3 {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    input[type="email"] {
        width: 270px;
        margin: 0 30% 20px;
    }

    .input-btn {
        right: 33%;
    }
}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
    }

    .header__content {
        height: 90px;
        padding: 0 1%;
        position: static;
    }

    .header__content .checkbox {
        display: none;
    }

    .header__content .hamburger-lines {
        display: none;
    }

    .header__nav-content {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 0;
        gap: 0;
        min-width: 700px;
        height: 90px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        position: static;
        background-color: #FFFFFF00;
        color: var(--white);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        visibility: visible;
        opacity: 1;
    }

    .header__nav-content > p {
        font-size: 13px;
        margin-right: 46px;
        min-width: 110px;
    }

    .header__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 15px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__links li:nth-child(2) a {
        margin-left: 17px;
    }

    .header__links a {
        padding: 0;
        min-width: 114px;
        color: var(--white);
    }

    .header__btn {
        background-color: var(--white);
        color: var(--black);
        margin-top: 0;
    }

    .header__btn:hover {
        cursor: pointer;
        background-color: var(--black);
        color: var(--white);
        -webkit-box-shadow: 0 0 5px 3px var(--gloomy-white);
        box-shadow: 0 0 5px 3px var(--gloomy-white);
    }

    .header__links a:hover {
        text-shadow: var(--gloomy-white) 1px 0 10px;
    }

    .head-section {
        background-image: url("../images/background-l.jpg");
        margin-top: 90px;
        padding: 0;
    }

    .head-section__text {
        padding-top: 461px;
        font-size: 14px;
    }

    .head-section__text h1 {
        font-size: 54px;
        padding: 3px 0 25px;
        line-height: 59px;
    }

    .head-section__text p {
        max-width: 580px;
        text-align: center;
    }

    .list {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        max-width: 94%;
        padding: 14px 0 41px 0;
    }

    .featured-images__cards {
        padding-bottom: 100px;
    }

    .row__card {
        -ms-flex-preferred-size: 576px;
        flex-basis: 576px;
        height: 600px;
    }

    .card-1 {
        background-image: url("../images/card-1l.jpg");
    }

    .card-2 {
        background-image: url("../images/card-2l.jpg");
    }

    .card-3 {
        background-image: url("../images/card-3l.jpg");
    }

    .card-4 {
        background-image: url("../images/card-4l.jpg");
    }

    .card__content {
        max-width: 500px;
        margin-left: 30px;
        font-size: 14px;
    }

    .card__content p {
        padding-top: 20px;
    }

    .card__content button {
        width: 143px;
        margin: 10px 0 30px 0;
        padding: 9px 10px 13px 42px;
        font-size: 15px;
        z-index: 1;
    }

    .custom-button:hover {
        font-weight: 400;
        cursor: pointer;
        opacity: 0.9;
        -webkit-animation: rubberBand 1s;
        animation: rubberBand 1s;
        -webkit-transition: -webkit-transform 0.6s linear;
        transition: -webkit-transform 0.6s linear;
        -o-transition: transform 0.6s linear;
        transition: transform 0.6s linear;
        transition: transform 0.6s linear, -webkit-transform 0.6s linear;
    }

    .circle-s {
        display: none;
    }

    .circle-l {
        display: block;
        width: 32px;
        height: 32px;
        left: 4px;
        top: 5px;
        position: absolute;
    }

    .sec-1 .photo-section__text {
        padding: 260px 62px 200px 0;
    }

    .sec-1 .photo-section__text p {
        max-width: 300px;
        text-align: start;
    }

    .sec-1-list {
        max-width: 225px;
        padding: 0 0 45px 0;
        margin-right: 40px;
        gap: 18px;
    }

    .blackbox__content {
        margin: 173px 0 6px 100px;
        font-size: 14px;
    }

    .blackbox__content h2 {
        font-size: 28px;
    }

    .blackbox__content p {
        max-width: 514px;
        padding-bottom: 30px;
    }

    .gearcage-btn {
        padding: 9px 10px 13px 42px;
        min-width: 152px;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 153px;
    }

    .photo-content {
        background-image: url(../images/gearcage-l.jpg);
    }

    .photo-content__list {
        font-size: 12px;
        gap: 16px;
        margin-top: 483px;
        padding: 0 40px 45px 0;
    }

    .sec-2 .photo-section__text {
        padding: 280px 87px 200px 0;
    }

    .sec-2 .photo-section__text p {
        max-width: 275px;
        font-size: 14px;
    }

    .sec-2-list {
        max-width: 300px;
        padding: 0 0 40px 0;
        margin-right: 40px;
        gap: 15px;
    }

    .clients h2 {
        font-size: 40px;
        padding-top: 113px;
        padding-bottom: 15px;
    }

    .clients h3 {
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 81px;
    }

    .clients__images {
        gap: 110px;
        padding-bottom: 170px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .clients__images img {
        -webkit-animation: scaling 1s ease-in-out infinite alternate;
        animation: scaling 1s ease-in-out infinite alternate;
    }

    .sec-3 .photo-section__text {
        padding: 250px 106px 250px 0;
    }

    .sec-3 .photo-section__text p {
        padding-bottom: 0;
        max-width: 245px;
        font-size: 14px;
    }

    .contacts {
        max-width: 600px;
        margin: 0 auto;
    }

    .contacts h2 {
        padding-top: 113px;
        font-size: 40px;
    }

    .contacts p {
        padding-top: 15px;
        font-size: 24px;
    }

    .contacts button {
        padding: 9px 10px 13px 42px;
        min-width: 160px;
        margin-top: 22px;
        margin-bottom: 108px;
        font-size: 16px;
    }

    .contacts button:hover {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-name: headShake;
        animation-name: headShake;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

    }

    .footer-sec-1 {
        padding: 100px 5px 36px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .footer__logo {
        margin-top: 0;
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }

    .footer__logo svg {
        margin-bottom: 20px;
    }

    .footer__logo p {
        font-size: 13px;
        width: 440px;
    }

    .footer__business-nav, .footer__pages-nav {
        margin-top: 0;
        -ms-flex-preferred-size: 182px;
        flex-basis: 182px;
    }

    .footer__business-nav h4, .footer__pages-nav h4, .footer-sec-2 h4 {
        border: none;
        padding: 0;
        text-align: start;
    }

    .footer__nav-content {
        padding-top: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 15px;
    }

    .footer__nav-content a {
        font-size: 14px;
    }

    .footer-sec-2 {
        padding: 36px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer-sec-2 h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .footer-sec-2 p {
        font-size: 13px;
        text-align: start;
    }

    input[type="email"] {
        color: var(--light-black);
        width: 458px;
        height: 52px;
        margin: 0;
        padding: 0 15px;
        font-size: 16px;
    }

    input[type="email"]:focus {
        opacity: 0.9;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-box-shadow: 0 0 5px 3px var(--gloomy-white);
        box-shadow: 0 0 5px 3px var(--gloomy-white);
    }

    .input-btn {
        width: 63px;
        height: 30px;
        right: 7px;
        top: 57px;
    }

    .footer-sec-3 {
        padding: 56px 0 104px 0;
        margin: 0;
    }

    .footer-sec-3__text {
        font-size: 14px;
    }

    .footer-sec-3__text span {
        font-size: 13px;
    }

    .footer-icons {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        gap: 20px;
    }
}


@-webkit-keyframes scaling {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}


@keyframes scaling {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@-webkit-keyframes headShake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes headShake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}