:root {
    --black: #000000;
    --light-black: #181818;
    --white: #FFFFFF;
    --gloomy-white: #c0c0c0
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font: inherit;
    color: inherit;
}

body {
    background-color: var(--black);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: var(--gloomy-white);
    font-weight: 400;
    line-height: 20px;
    overflow-x: hidden;
}

/*header section*/
header {
    background-color: var(--light-black);
    width: 100%;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.container {
    max-width: 320px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
}

.header__content svg {
    min-width: 128px;
    color: var(--white);
}

.header__nav-content {
    padding-top: 140px;
    background-color: var(--white);
    height: 100vh;
    width: 100%;
    transform: translate(150%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    gap: 24px;
}

.header__links {
    list-style-type: none;
}

.header__links a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: var(--black);
    padding-top: 20px;
}

.header__links a:hover {
    font-weight: bold;
}

.header__btn {
    width: 150px;
    background-color: var(--black);
    color: var(--white);
    letter-spacing: 0.4px;
    margin-top: 50px;
    padding: 9px 20px 13px;
    border-radius: 14px;
    transition: .6s;
}

.header__btn:hover {
    cursor: pointer;
    background-color: var(--gloomy-white);
    color: var(--black);
}

input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 25px;
    width: 30px;
    top: 25px;
    right: 0;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.hamburger-lines {
    height: 25px;
    width: 30px;
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}

.hamburger-lines .line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

input[type="checkbox"]:checked ~ svg {
    transition: 1.5s;
    color: var(--black);
    z-index: 2;
}

input[type="checkbox"]:checked ~ .hamburger-lines .line {
    background-color: var(--gloomy-white);
}

input[type="checkbox"]:checked ~ .header__nav-content {
    transform: translateX(0);
    opacity: 100;
    visibility: visible;
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

/*head section*/

.head-section {
    width: 100%;
    padding-top: 20%;
    background-image: url(../images/background-s.jpg);
    background-position: 90% 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.head-section__text {
    padding-top: 70%;
    text-align: center;
}

.head-section__text h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.head-section h1 {
    font-size: 36px;
    color: var(--white);
    padding: 20px 0;
}

.head-section p {
    font-size: 11px;
    max-width: 90%;
    margin: 0 auto;
}

.head-section__list {
    display: flex;
    list-style-type: none;
    padding: 25px 0;
    justify-content: center;
    font-size: 12px;
    color: var(--white);
    gap: 15px;
}

.head__item {
    display: flex;
    flex-direction: row;
}

/*featured-images section*/

.featured-images__container {
    max-width: 320px;
    margin: 0 auto;
}

.featured-images__text h2 {
    color: var(--white);
    text-align: center;
    font-size: 28px;
    line-height: 35px;
    padding: 60px 0 10px 0;
}

.featured-images__text h3 {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 20px;
}

.featured-images__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding-bottom: 15px;
}

.row__card {
    min-width: 200px;
    min-height: 250px;
    display: flex;
    align-items: flex-end;
    background-color: var(--light-black);
}

.card-1 {
    background-image: url("../images/card-1s.jpg");
    background-size: cover;
}

.card-2 {
    background-image: url("../images/card-2s.jpg");
    background-size: cover;
}

.card-3 {
    background-image: url("../images/card-3s.jpg");
    background-size: cover;
}

.card-4 {
    background-image: url("../images/card-4s.jpg");
    background-size: cover;
}

.card__content {
    max-width: 90%;
    margin-left: 4%;
}

.card__content h4 {
    font-size: 13px;
    color: var(--white);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__content p {
    padding-top: 2%;
    font-size: 11px;
}

.card__content button, .blackbox__content button {
    display: block;
    width: 117px;
    margin: 10px 0;
    padding: 3px 0 6px 20px;
    font-size: 12px;
    color: var(--black);
    letter-spacing: 0.4px;
    background-color: var(--white);
    text-decoration: none;
    position: relative;
    border-radius: 14px;
}

#circle-s {
    width: 25px;
    height: 25px;
    left: 3px;
    top: 2px;
    position: absolute;
}

#circle-l {
    display: none;
}

/*pre-cage section, after-cage section, pre-contacts-section*/
.pre-cage-section {
    background-image: url(../images/pre-cage-s.jpg);
}

.after-cage-section {
    background-image: url(../images/after-cage-s.jpg);
}

.pre-contacts-section {
    background-image: url(../images/pre-contacts-s.jpg);
}

.pre-cage-section, .after-cage-section, .pre-contacts-section {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.pre-cage-section__text, .after-cage-section__text, .pre-contacts-section__text {
    padding: 40% 5% 3% 0;
}

.pre-cage-section__text h3, .after-cage-section__text h3, .pre-contacts-section h3 {
    color: var(--white);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.pre-contacts-section h3, .after-cage-section__text h3 {
    text-align: start;
}

.pre-cage-section__text p, .after-cage-section__text p, .pre-contacts-section p {
    font-size: 14px;
    text-align: justify;
    margin-top: 5px;
}

.pre-cage-section__text p {
    max-width: 197px;
}

.after-cage-section__text p, .pre-contacts-section p {
    max-width: 250px;
}

.pre-contacts-section p {
    padding-bottom: 20%;
}

.pre-cage-section__list, .after-cage-section__list {
    display: flex;
    list-style-type: none;
    padding: 50px 0 25px 0;
    justify-content: center;
    font-size: 11px;
    color: var(--white);
    gap: 10px;
    margin-right: 15px;
}

.pre-cage__item, .after-cage-item {
    display: flex;
    flex-direction: row;
}

.pre-cage__item span, .after-cage-item span {
    margin-left: 3px;
}

/*gear cage section*/
.wrapper {
    display: flex;
    flex-direction: column;
}

.blackbox {
    width: 100vw;
}

.blackbox__content {
    margin: 15% 10%;
}

.blackbox__content h3 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.blackbox__content h2 {
    font-size: 24px;
    color: var(--white);
    line-height: 32px;
    padding-bottom: 6px;
}

.blackbox__content p {
    font-size: 12px;
    color: var(--white);
    padding-bottom: 20px;
}

.blackbox__content button {
    line-height: 1.7;
}

.photo-content {
    width: 100vw;
    background-image: url(../images/gearcage-s.jpg);
    background-size: cover;
}

.photo-content__list {
    display: flex;
    list-style-type: none;
    padding: 50px 20px 25px 0;
    justify-content: flex-end;
    font-size: 11px;
    color: var(--white);
    gap: 10px;
    margin-top: 50%;
}

/*clients section*/
.clients__content {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

.clients__content h2 {
    color: var(--white);
    font-size: 28px;
    padding-top: 70px;
    padding-bottom: 15px;
}

.clients__content h3 {
    padding-bottom: 30px;
}

.clients__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding-bottom: 100px;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 576px;
    }

    .head-section {
        padding-top: 8%;
    }

    .head-section__text {
        padding-top: 75%;
    }

    .head-section__text p {
        text-align: center;
    }

    .head-section__list {
        gap: 20px;
        padding: 25px 0;
    }

    .featured-images__container {
        max-width: 550px;
        margin: 0 auto;
    }

    .clients__content {
        max-width: 576px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 700px;
    }

    .header__content {
        height: 70px;
    }

    .header__nav-content {
        padding-top: 140px;
        width: 50%;
    }

    input[type="checkbox"]:checked ~ svg {
        color: var(--white);
        z-index: 2;
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line {
        display: none;
    }

    input[type="checkbox"]:checked {
        right: 47%;
        top: 300px;
    }

    input[type="checkbox"]:checked {
        position: absolute;
        width: 50vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .head-section {
        background-image: url("../images/background-m.jpg");
        background-position: 87% 0;
        background-repeat: no-repeat;
    }

    .head-section__text {
        padding-top: 50%;
    }

    .head-section h1 {
        font-size: 38px;
        padding: 25px;
    }

    .head-section p {
        font-size: 14px;
        max-width: 80%;
        text-align: center;
    }

    .head-section__list {
        padding: 25px 0;
    }

    .head-item, .after-cage-item {
        display: flex;
        align-items: flex-end;
        gap: 5px;
    }

    .featured-images__container {
        max-width: 768px;
    }

    .featured-images__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        padding-bottom: 10%;
    }

    .row__card {
        flex-basis: 350px;
    }

    .pre-cage-section {
        background-image: url(../images/pre-cage-l.jpg);
    }

    .after-cage-section {
        background-image: url(../images/after-cage-l.jpg);
    }

    .pre-contacts-section {
        background-image: url(../images/pre-contacts-l.jpg);
    }

    .pre-cage-section__text, .after-cage-section__text, .pre-contacts-section__text {
        padding-bottom: 0;
        padding-top: 25%;
    }

    .pre-cage-section__text h3 {
        text-align: start;
        padding-top: 25%;
    }

    .pre-cage-section__text p, .after-cage-section__text p, .pre-contacts-section__text p {
        max-width: 270px;
    }

    .pre-cage-section__list {
        max-width: 270px;
        margin-right: 10%;
    }

    .after-cage-section__list {
        max-width: 300px;
        margin-right: 3%;
    }

    .pre-cage-section__list, .after-cage-section__list {
        padding: 70px 0 25px 0;
        font-size: 12px;
        gap: 14px;
    }

    .wrapper {
        flex-direction: row;
    }

    .blackbox {
        width: 50vw;
    }

    .photo-content {
        width: 50vw;
    }

    .photo-content__list {
        margin-top: 70%;
    }

    .clients__content {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .header__content {
        height: 90px;
        padding: 0 1%;
        display: flex;
        justify-content: space-between;
        position: static;
        background: none;
    }

    .header__content .checkbox {
        display: none;
    }

    .header__content .hamburger-lines {
        display: none;
    }

    .header__nav-content {
        justify-content: flex-end;
        padding: 0;
        gap: 0;
        min-width: 700px;
        height: 90px;
        flex-direction: row;
        transform: none;
        position: static;
        background-color: #FFFFFF00;
        color: var(--white);
        align-items: center;
        visibility: visible;
        opacity: 100;
    }

    .header__nav-content > p {
        font-size: 14px;
        margin-right: 46px;
        min-width: 110px;

    }

    .header__links {
        padding: 0;
        display: flex;
        position: static;
        color: var(--white);
        align-items: center;
    }

    .header__links li:nth-child(2) a {
        margin-left: 17px;
    }

    .header__links a {
        margin: 0;
        padding: 0;
        min-width: 114px;
        color: var(--white);
    }

    .header__btn {
        background-color: var(--white);
        color: var(--black);
        margin-top: 0;
    }

    .header__btn:hover {
        cursor: pointer;
        background-color: var(--black);
        color: var(--white);
        box-shadow: 0 0 5px 3px var(--gloomy-white);
    }

    .header__links a:hover {
        font-weight: 400;
        text-shadow: var(--gloomy-white) 1px 0 10px;
    }

    .head-section {
        background-image: url("../images/background-l.jpg");
        padding-top: 6%;
    }

    .head-section__text {
        padding-top: 396px;
        font-size: 14px;
    }

    .head-section__text h2 {
        font-size: 14px;
    }

    .head-section__text h1 {
        font-size: 54px;
        padding: 20px 0 25px;
    }

    .head-section__text p {
        max-width: 580px;
        text-align: center;
    }

    .head-section__list {
        flex-direction: row;
        justify-content: flex-end;
        max-width: 94%;
        padding: 14px 0 41px 0;
        margin: 0;
    }

    .featured-images__container {
        max-width: 1200px;
    }

    .featured-images__cards {
        display: flex;
        flex-direction: row;
        gap: 16px;
        padding-bottom: 100px;
    }

    .row__card {
        flex-basis: 576px;
        height: 600px;
    }

    .card-1 {
        background-image: url("../images/card-1l.jpg");
        background-size: cover;
    }

    .card-2 {
        background-image: url("../images/card-2l.jpg");
        background-size: cover;
    }

    .card-3 {
        background-image: url("../images/card-3l.jpg");
        background-size: cover;
    }

    .card-4 {
        background-image: url("../images/card-4l.jpg");
        background-size: cover;
    }

    .card__content {
        max-width: 500px;
        margin-left: 30px;
    }

    .card__content h4 {
        font-size: 14px;
    }

    .card__content p {
        padding-top: 20px;
        font-size: 14px;
    }

    .card__content button {
        width: 143px;
        margin: 10px 0 30px 0;
        padding: 9px 10px 13px 42px;
        font-size: 15px;
        z-index: 1;
        position: relative;
    }

    .card__content button:before, .blackbox__content button:before {
        content: "";
        box-shadow: 0 0 5px 3px var(--gloomy-white);
        border-radius: 14px;
        position: absolute;
        width: 0;
        left: 0;
        top: 0;
        height: 100%;
        opacity: 0;
        transition: transform 0.6s linear;
    }

    .card__content button:hover:before, .blackbox__content button:hover:before {
        transform: rotateY(180deg);
        width: 100%;
        color: var(--white);
        opacity: 0.5;
        cursor: pointer;
    }

    .card__content button:hover, .blackbox__content button:hover {
        transform: scale(1.05);
        transition: all 0.5s;
    }

    #circle-s {
        display: none;
    }

    #circle-l {
        display: block;
        width: 32px;
        height: 32px;
        left: 4px;
        top: 5px;
        position: absolute;
    }

    .pre-cage-section__text {
        padding: 260px 62px 200px 0;
    }

    .pre-cage-section__text p {
        max-width: 300px;
        text-align: start;
    }

    .pre-cage-section__list {
        max-width: 225px;
        padding: 0 0 45px 0;
        margin-right: 40px;
        gap: 15px;
    }

    .blackbox__content {
        margin: 173px 0 6px 100px;
        font-size: 14px;
    }

    .blackbox__content h2 {
        font-size: 28px;
    }

    .blackbox__content p {
        max-width: 514px;
        padding-bottom: 30px;
    }

    .blackbox__content button {
        padding: 9px 10px 13px 42px;
        min-width: 152px;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 153px;
    }

    .photo-content {
        background-image: url(../images/gearcage-l.jpg);
    }

    .photo-content__list {
        font-size: 12px;
        color: var(--white);
        gap: 16px;
        margin-top: 483px;
        padding: 0 40px 45px 0;
    }

    .after-cage-section__text {
        padding: 280px 87px 200px 0;
    }

    .after-cage-section__text p {
        max-width: 275px;
        font-size: 14px;
    }

    .after-cage-section__list {
        max-width: 300px;
        padding: 0 0 40px 0;
        margin-right: 40px;
        gap: 15px;
    }

    .clients__content {
        max-width: 1200px;
    }

    .clients__content h2 {
        font-size: 40px;
        padding-top: 113px;
        padding-bottom: 15px;
    }

    .clients__content h3 {
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 111px;
    }

    .clients__images {
        gap: 110px;
        padding-bottom: 170px;
        align-items: center;
    }

    .clients__images img {
        animation: scaling 1s ease-in-out infinite alternate;
    }

    .pre-contacts-section__text {
        padding: 250px 106px 250px 0;
    }

    .pre-contacts-section__text p {
        padding-bottom: 0;
        max-width: 245px;
        font-size: 14px;
    }

}

@keyframes scaling {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}